header{
    background-image: url(./img/wall.png);
    font-family: 'Edu TAS Beginner', cursive;
    height: 100px;
    display: flex;
    align-items: center;
}

body{
    background-image: url(./img/cork.png)
}

#pin{
    position:absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}